<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Labb2 webb</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="Controllers/BookController.js"></script>
</head>
<body>
    <form>
        id: <input type="text" name="id">
        title: <input type="text" name="title">
        author: <input type="text" name="author">
        <input type="submit" name="Create" value="Create">
        <input type="submit" name="Get" value="Get">
        <input type="submit" name="Change" value="Change">
        <input type="submit" name="Remove" value="Remove">
    </form>
    <div class="list">

    </div>
</body>
</html>